body{
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 44%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    box-sizing: content-box;
    
    

}
.tablero{
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0;
    width: min(80vw, 100vh); /* No más ancho que el 80% del ancho de la ventana y no más alto que el 100% del alto de la ventana */
    height: min(80vw, 100vh); /* Mismo criterio que el ancho */
    margin: auto;
    box-sizing: border-box;


}

.cubo{
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    box-sizing: border-box;
    padding: 0.5vw; 
    text-align: center;
    font-size: 2.5vw; 
    line-height: 8vw; 
    background-color: #ccc; 
}
.cubo.descubierto {
    background-color: transparent;
    border-color: lightgray;
}